[submodule ".vim/pack/themes/start/dracula"]
	path = vim/.vim/pack/themes/start/dracula
	url = https://github.com/dracula/vim.git
[submodule ".tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "vim/.vim/pack/dist/start/vim-airline"]
	path = vim/.vim/pack/dist/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
